# power
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap
    chown system system /sys/kernel/cluster/active

    # Setting the cpuquiet governor resets the sysfs permissions, so we set it here
    write /sys/devices/system/cpu/cpuquiet/current_governor balanced
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp 0
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_bottom_freq 102000
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_top_freq 620000
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/down_delay 60
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/up_delay 60
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/mp_overhead 20
    write /sys/module/cpuidle/parameters/lp2_in_idle 0
    write /sys/devices/system/cpu/cpuquiet/balanced/idle_bottom_freq 102000
    write /sys/devices/system/cpu/cpuquiet/balanced/idle_top_freq 620000
    write /sys/devices/system/cpu/cpuquiet/balanced/down_delay 60
    write /sys/devices/system/cpu/cpuquiet/balanced/up_delay 60

    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/down_delay
    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/up_delay
    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp
    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable
    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_bottom_freq
    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_top_freq
    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/mp_overhead
    chown system system /sys/devices/system/cpu/cpuquiet/current_governor
    chown system system /sys/devices/system/cpu/cpuquiet/balanced/idle_bottom_freq
    chown system system /sys/devices/system/cpu/cpuquiet/balanced/idle_top_freq
    chown system system /sys/devices/system/cpu/cpuquiet/balanced/down_delay
    chown system system /sys/devices/system/cpu/cpuquiet/balanced/up_delay
    chown system system /sys/devices/platform/host1x/nvavp/boost_sclk
    chown system system /sys/devices/tegradc.0/enable
    chown system system /sys/devices/host1x/gr3d/enable_3d_scaling

    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/down_delay
    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/up_delay
    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp
    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable
    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_bottom_freq
    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_top_freq
    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/mp_overhead
    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp
    chmod 0660 /sys/devices/system/cpu/cpuquiet/current_governor
    chmod 0660 /sys/devices/system/cpu/cpuquiet/balanced/idle_bottom_freq
    chmod 0660 /sys/devices/system/cpu/cpuquiet/balanced/idle_top_freq
    chmod 0660 /sys/devices/system/cpu/cpuquiet/balanced/down_delay
    chmod 0660 /sys/devices/system/cpu/cpuquiet/balanced/up_delay
    chmod 0660 /sys/devices/platform/host1x/nvavp/boost_sclk
    chmod 0660 /sys/devices/tegradc.0/enable
    chmod 0660 /sys/devices/host1x/gr3d/enable_3d_scaling
    chmod 0660 /sys/kernel/cluster/active

    # Intelliactive governor settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor intelliactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor intelliactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor intelliactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor intelliactive
    write /sys/devices/system/cpu/cpufreq/intelliactive/above_hispeed_delay 40000
    write /sys/devices/system/cpu/cpufreq/intelliactive/boost 0
    write /sys/devices/system/cpu/cpufreq/intelliactive/boostpulse 1
    write /sys/devices/system/cpu/cpufreq/intelliactive/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpufreq/intelliactive/go_hispeed_load 95
    write /sys/devices/system/cpu/cpufreq/intelliactive/hispeed_freq 860000
    write /sys/devices/system/cpu/cpufreq/intelliactive/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/intelliactive/min_sample_time 20000
    write /sys/devices/system/cpu/cpufreq/intelliactive/sampling_down_factor 20000
    write /sys/devices/system/cpu/cpufreq/intelliactive/sync_freq 370000
    write /sys/devices/system/cpu/cpufreq/intelliactive/target_loads 90
    write /sys/devices/system/cpu/cpufreq/intelliactive/timer_rate 10000
    write /sys/devices/system/cpu/cpufreq/intelliactive/timer_slack 40000
    write /sys/devices/system/cpu/cpufreq/intelliactive/up_threshold_any_cpu_freq 860000
    write /sys/devices/system/cpu/cpufreq/intelliactive/up_threshold_any_cpu_load 85
    write /sys/devices/system/cpu/cpufreq/intelliactive/two_phase_freq 370000,513000,620000,860000

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/sampling_down_factor
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/sync_freq
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/up_threshold_any_cpu_freq
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/up_threshold_any_cpu_load
    chown system system /sys/devices/system/cpu/cpufreq/intelliactive/two_phase_freq

    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/boostpulse
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/sampling_down_factor
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/sync_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/up_threshold_any_cpu_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/up_threshold_any_cpu_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/intelliactive/two_phase_freq
    restorecon_recursive /sys/devices/system/cpu/cpufreq/intelliactive
